<% if (totalPages > 1) { %>
<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>" class="page-link">&laquo; Prev</a>
  <% } %>
  <% for (let i = 1; i <= totalPages; i++) { %>
    <% if (i === currentPage) { %>
      <span class="page-link active"><%= i %></span>
    <% } else if (i === 1 || i === totalPages || (i >= currentPage - 2 && i <= currentPage + 2)) { %>
      <a href="?page=<%= i %>" class="page-link"><%= i %></a>
    <% } else if (i === currentPage - 3 || i === currentPage + 3) { %>
      <span class="page-link dots">...</span>
    <% } %>
  <% } %>
  <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>" class="page-link">Next &raquo;</a>
  <% } %>
</div>
<% } %>
